<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    $( [ "${PUSH_NOTIFY}" = "true" ] && echo '    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>' )
    $( [ "${PUSH_NOTIFY}" = "true" ] && echo '    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>' )
    $( [ "${PUSH_NOTIFY}" = "true" ] && echo '    <uses-permission android:name="android.permission.VIBRATE"/>' )
    $( [ "${PUSH_NOTIFY}" = "true" ] && echo '    <uses-permission android:name="android.permission.WAKE_LOCK"/>' )
    $( [ "${IS_CAMERA}" = "true" ] && echo '    <uses-permission android:name="android.permission.CAMERA"/>' )
    $( [ "${IS_LOCATION}" = "true" ] && echo '    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>' )
    $( [ "${IS_LOCATION}" = "true" ] && echo '    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>' )
    $( [ "${IS_MIC}" = "true" ] && echo '    <uses-permission android:name="android.permission.RECORD_AUDIO"/>' )
    $( [ "${IS_NOTIFICATION}" = "true" ] && echo '    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>' )
    $( [ "${IS_CONTACT}" = "true" ] && echo '    <uses-permission android:name="android.permission.READ_CONTACTS"/>' )
    $( [ "${IS_BIOMETRIC}" = "true" ] && echo '    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>' )
    $( [ "${IS_CALENDAR}" = "true" ] && echo '    <uses-permission android:name="android.permission.READ_CALENDAR"/>' )
    $( [ "${IS_CALENDAR}" = "true" ] && echo '    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>' )
    $( [ "${IS_STORAGE}" = "true" ] && echo '    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>' )
    $( [ "${IS_STORAGE}" = "true" ] && echo '    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>' )
    
    <application
        android:label="${APP_NAME}"
        android:name="io.flutter.embedding.android.FlutterApplication"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            $( [ "${IS_DEEPLINK}" = "true" ] && echo '
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="${WEB_URL}" />
            </intent-filter>' )
            
            $( [ "${PUSH_NOTIFY}" = "true" ] && echo '
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>' )
        </activity>
        
        $( [ "${PUSH_NOTIFY}" = "true" ] && echo '
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>' )
        
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
